.divbox{
    
	width: 400px;
	height: 300px;
	padding-right: 0px;
	
    margin-top: 40px;
   
	
}
.chart{
	width: 1000px;
    
    display: flex;
	position: relative;
	align-items: center;
	justify-content: center;


}
#chart1{
margin-right: 100px;
}

.title{
	align-items: center;
	justify-content: center;
	font-size: 40px;
	width: 200px;
	height: 50px;
	color: rgb(236, 79, 123);
	margin: auto;
	margin-left: 430px;
    font-weight: bold;
}